<div class="user-profile-show">

	<h1> Profile </h2>

  <table class="table">
    <tr>
      <td>id:</td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= @user.email.html_safe %></td>
    </tr>
    <tr>
      <td>First name:</td>
      <td><%= @user.first_name.html_safe %></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><%= @user.last_name.html_safe %></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= @user.password %></td>
    </tr>
  </table>

 <%= link_to "Edit", edit_user_path(@user)%>

</div>
